@import '_varmixins.scss';

.bg-catalog {
    background: url(../img/cat-bg.png) no-repeat;
    background-size: cover;
    position: relative;
    @include flex();
    &::before {
        @include darken();
    }
    h1 {
        padding: 229px 0 226px;
        font-style: normal;
        font-weight: 600;
        font-size: 65px;
        line-height: 78px;
        text-transform: uppercase;
        color: $white;
        z-index: 1;
        &::after {
            content: '';
            display: block;
            width: 51px;
            height: 1px;
            background-color: $white;
            margin: 33px auto 0;
        }
    }
}
#catalog {
    .catalog-box {
        display: grid;
        grid-template-columns: 280px auto;
        // grid-template-rows: auto;
        column-gap: 35px;
    }
    .aside-box {
        border: 1px solid #DCDCDC;
        &_name {
            @include flex();
            justify-content: flex-start;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            text-transform: uppercase;
            color: $black;
            padding: 27px 19px 23px;
            &::before {
                content: url(../img/cat-bar.svg);
                margin-right: 15px;
            }
        }
        &_title {
            // @include flex();
            // justify-content: space-between;
            ul.collapsed {
                padding: 21px 19px;
            }
            p {
                @include flex();
                justify-content: space-between;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 19px;
                letter-spacing: 0.02em;
                color: $black;
                &::after {
                    content: url(../img/plus.svg);
                    display: inline-block;
                }
            }
        }
        &_title.active p {
            background: #071739;
            color: $white;
            &::after {
                content: url(../img/minus.svg);
                display: inline-block;
            }
        }
        &_title p {
            cursor: pointer;
            color: $black;
            padding: 21px 19px;
        }
        &_list {
            padding: 0;
            li {
                @include flex();
                    justify-content: flex-start;
                    margin-bottom: 12px;
                a {
                    @include flex();
                    justify-content: space-between;
                    width: 100%;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19px;
                    letter-spacing: 0.02em;
                    color: #666666;
                }
            }
            li.active {
                color: $blue;
                a {
                    color: $blue;
                }
            }
            li::before {
                content: url(../img/arr-list.svg);
                display: inline-block;
                margin-right: 17px;
            }
            li.active::before {
                content: url(../img/arr-list-blue.svg);
                display: inline-block;
            }
        }
        &_list .collapsed {
            padding: 18px 19px 28px;
        }
        div {
            border-bottom: 1px solid #DCDCDC;
            &:last-child {
                border-bottom: none;
            }
        }
    }
    .catalog-products {
        .title-left {
            margin-top: 0;
            text-align: left;
            &::after {
                margin: 14px 0;
            }
        }
        &_items {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 32px;
            margin-top: 40px;
            &-item {
                background-color: #F5F5F5;
                padding: 26px 31px 24px 22px;
                transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
                &:hover {
                    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
                }
                &_sku {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 20px;
                    text-transform: uppercase;
                    color: $gray;
                }
                &_image {
                    width: 100%;
                    margin: 19px auto 21px;
                }
                &_name {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 11px;
                    color: $black;
                }
                &_price {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 20px;
                    color: $gray;
                }
            }
        }
        &_pagination {
            margin-top: 59px;
            ul {
                @include flex();
                flex-wrap: wrap;
                gap: 10px;
                &::before {
                    content: url(../img/arrow-left.svg);
                    margin-right: 57px;
                    cursor: pointer;
                }
                &::after {
                    content: url(../img/arrow-right.svg);
                    margin-left: 57px;
                    cursor: pointer;
                }
                li {
                    padding: 7px 18px;
                }
                li a {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 27px;
                    color: $black;
                }
                li.active {
                    background-color: $blue;
                }
                li.active a {
                    color: $white;
                }
            }
        }
    }
}
.aside-box_title ul {
    max-height: 0;
    overflow-y: hidden;
    visibility: hidden;
    transition: 450ms ease-in-out;
    padding: 0;
}
.aside-box_title ul.collapsed {
    animation: menu1 450ms cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards;
    visibility: visible;
    max-height: 100%;
}
// @keyframes menu1 {
//     from {
//         opacity: 0;
//         transform: translateX(30px);
//         rotateY: 90deg;
//     } to {
//         opacity: 1;
//         transform: translateX(0);
//         rotateY: 0;
//     }
// }

@media (max-width: 767px) {
    #catalog {
        .catalog-products {
            margin-top: 30px;
        }
        .catalog-box {
            display: unset;
        }
    }
}
@media (max-width: 580px) {
    #catalog {
        .catalog-products {
            margin-top: 50px;
            &_pagination4 ul::before,
            &_pagination4 ul::after {
                content: none;
            }
        }
    }
    #breadcrumbs.bg-catalog h1 {
        font-size: 36px;
        line-height: 55px;
        text-align: center;
        padding: 30px 0;
    }
}